<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= title%>
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>tried this</h1>
    <p>here</p>
    <ul>
      <% for (let i=1;i<8;i++){ %>
       <li>
           <%=i%>
       </li>  
       <%}%>

      
    </ul>
    <% if (true){%>
        <h1>hedatrue</h1>
        <% }else{%>
            <p>pfalse</p>
            
            <%}%>
     
    
    

</body>
</html>